.Messages__TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8em;
}

.Messages__TopBar__Name {
  font-size: 1em;
}

/* SEARCH */
.Messages__SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: relative;
  width: 100%
  z-index: 0;
}

.SearchIcon__Messages {
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 9;
}

.Messages__SearchBar input {
  width: 100%;
  height: 34px;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 10px;
  border: none;
  padding-left: 34px;
}
