.TabBar {
  max-width: 1280px;
  position: fixed;
  bottom: 0;
  /* left: 0; */
  height: 78px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  box-shadow: 0 -0.85px 0 #a6a6aa;
  background-color: #fafafa;
  z-index: 9;
}

/* .TabBar svg {
  width: 75px;
  height: 50px;
} */

.TabBar__profile {
  height: 26px;
  width: 26px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0 4px #a6a6aa;
}

.TabBar__Bar {
  position: absolute;
  left: calc(50% - 134px / 2 + 0.5px);
  bottom: 9px;
}

.TabBar__Bar svg {
  width: 134px;
  height: 5px;
}
