.Message {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 72px;
  width: 100%;
}

.Message__Image {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  margin: 4px 0 4px 12px;
}

.Message__Info {
  margin-inline: 10px 1em;
  width: 100%;
}

.Message__Info__bottom {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

.Message__text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Message__Date {
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1em 0 0;
}
